:root {
    --primary-color: #5429FF;
    --secondary-color: #344054;
    --accent1: #CBCCE8;
    --accent2: #667085;
    --background-color: #ffffff;
    --black: #000;
    --font: 'Inter';
}

body { 
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
}

.logo {
    text-align: center;
    padding: 1em;
    margin-top: 3.5em;
    margin-bottom: 0.2em;
}

.logo__titulo {
    color: var(--black);
    font-weight: 500;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.principal {
    padding: 1.5em;
}

.principal__titulo {
    font-size: 32px;
    font-weight: 700;
    padding: 0.3em 0;
}

.principal__descricao {
    font-size: 14px;
    font-weight: 400;
    color: var(--accent2);
    margin-bottom: 4em;
}

.lable__email {
    font-size: 14px;
    font-weight: 500;
}

.principal__email,
.principal__password {
    display: block;
    border: 1px solid var(--accent1);
    border-radius: 8px;
    width: 98%;
    padding: 0.8em 0;
    margin: 0.7em 0 1em 0;
}

.lable__password {
    font-size: 14px;
    font-weight: 500;
}

.principal__past {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3em;
    margin-top: 0.5em;
}

.remember-me {
    font-size: 14px;
    font-weight: 500;
}

.past__forgot {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}

.principal__sing-button {
    display: block;
    background-color: var(--primary-color);
    color: #FFF;
    margin: 1em auto;
    padding: 0.8em 8.9em;
    border-radius: 8px;
}

.principal__google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    padding: 0.7em ;
    margin: 1em 0.3em;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--accent2);
}

.sing-up__container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 0.3em;
}

.principal__sub,
.principal__sing-up {
    font-size: 14px;
}

.principal__sing-up {
    font-weight: 500;
    color: #5429FF;
}





    
